html,
body,
.app {
  display: flex;
  height: 100%;
}

html,
.bg-main {
  background: #f3f3f3;
}

.rounded-4 {
  border-radius: 4rem;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-black-75 {
  background: rgba(0, 0, 0, 0.5);
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.w-33 {
  width: calc(100% / 3);
}

.bg-blue-10 {
  background: rgba(173, 217, 216, 0.1);
}

.bg-grey {
  background: rgba(243, 243, 243, 1);
}

.opacity-10 {
  opacity: 0.1 !important;
}